/* IMPORTS - VARIABLES */
/* commented out

// THEME 2 //

// background//
$main-background: hsl(0, 0%, 90%);
$toggle-keypad-background: hsl(0, 5%, 81%);
$screen-background: hsl(0, 0%, 93%);
// keys //
$key-background: hsl(185, 42%, 37%);
$key-shadow: hsl(185, 58%, 25%);
$toggle-key-background: hsl(25, 98%, 40%);
$key-shadow2: hsl(25, 99%, 27%);
$key-background3: hsl(45, 7%, 89%);
$key-shadow3: hsl(35, 11%, 61%);
// text //
$text-yellow: hsl(60, 10%, 19%);
$text-white: hsl(0, 0%, 100%);

// THEME 3 //

// background//
$main-background: hsl(268, 75%, 9%);
$toggle-keypad-background: hsl(268, 71%, 12%);
$screen-background: hsl(268, 71%, 12%);
// keys //
$key-background: hsl(281, 89%, 26%);
$key-shadow: hsl(285, 91%, 52%);
$toggle-key-background: hsl(176, 100%, 44%);
$key-shadow2: hsl(177, 92%, 70%);
$key-background3: hsl(268, 47%, 21%);
$key-shadow3: hsl(290, 70%, 36%);
// text //
$text-yellow: hsl(52, 100%, 62%);
$text-blue: hsl(198, 20%, 13%);
$text-white: hsl(0, 0%, 100%);

*/
/* SITE */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 1rem 2.5rem 2rem;
  background-color: hsl(222deg, 26%, 31%);
}

a {
  color: hsl(0deg, 0%, 100%);
}

body,
button,
h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 3.2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  position: relative;
  top: 1.5rem;
  color: hsl(0deg, 0%, 100%);
}

fieldset {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 7rem;
  height: 100%;
  width: 7rem;
  color: hsl(0deg, 0%, 100%);
  border: none;
}
fieldset legend {
  position: relative;
  left: -6.5rem;
  top: 4rem;
}

input {
  height: 1.8rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.wrapper {
  max-width: 54rem;
  margin: 0 auto;
}

.label-container,
.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0rem 0.4rem;
  cursor: pointer;
}

.label-container {
  margin-bottom: 0.3rem;
}

.input-container {
  position: absolute;
  top: 50%;
  opacity: 0;
}

.theme-switcher {
  height: 2.8rem;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 100vw;
  background-color: hsl(223deg, 31%, 20%);
}

.knob {
  display: block;
  height: 1.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsl(6deg, 63%, 50%);
}

.screen {
  font-size: clamp(3.8rem, 10vw, 5.2rem);
  padding: clamp(2rem, 5vw, 3rem);
  margin: 3.5rem 0 2.5rem;
  border-radius: 1rem;
  background-color: hsl(224deg, 36%, 15%);
}
.screen__result {
  color: hsl(0deg, 0%, 100%);
  text-align: right;
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: clamp(14px, 3vw, 25px);
  grid-row-gap: clamp(17px, 3vw, 28px);
  padding: clamp(2.5rem, 5vw, 3.3rem);
  border-radius: 1rem;
  background-color: hsl(223deg, 31%, 20%);
}

.button {
  font-size: clamp(2rem, 7vw, 3rem);
  text-transform: uppercase;
  line-height: 6.5rem;
  height: 6rem;
  border-radius: 0.5rem;
  border: none;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.button:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}
.button--number {
  font-size: clamp(3.2rem, 7vw, 4.2rem);
  background-color: hsl(30deg, 25%, 89%);
  -webkit-box-shadow: 0px 5px 0px 0px hsl(28deg, 16%, 65%);
          box-shadow: 0px 5px 0px 0px hsl(28deg, 16%, 65%);
  color: hsl(221deg, 14%, 31%);
}
.button--number:active {
  translate: 0 2px;
  -webkit-box-shadow: 0px 3px 0px 0px hsl(28deg, 16%, 65%);
          box-shadow: 0px 3px 0px 0px hsl(28deg, 16%, 65%);
}
.button--options {
  background-color: hsl(225deg, 21%, 49%);
  -webkit-box-shadow: 0px 5px 0px 0px hsl(224deg, 28%, 35%);
          box-shadow: 0px 5px 0px 0px hsl(224deg, 28%, 35%);
}
.button--options:active {
  translate: 0 2px;
  -webkit-box-shadow: 0px 3px 0px 0px hsl(224deg, 28%, 35%);
          box-shadow: 0px 3px 0px 0px hsl(224deg, 28%, 35%);
}
.button--result {
  background-color: hsl(6deg, 63%, 50%);
  -webkit-box-shadow: 0px 5px 0px 0px hsl(6deg, 70%, 34%);
          box-shadow: 0px 5px 0px 0px hsl(6deg, 70%, 34%);
}
.button--result:active {
  translate: 0 2px;
  -webkit-box-shadow: 0px 3px 0px 0px hsl(6deg, 70%, 34%);
          box-shadow: 0px 3px 0px 0px hsl(6deg, 70%, 34%);
}

.button:nth-last-child(3) {
  text-transform: none;
}

.button:nth-last-child(2) {
  grid-area: 5/1/6/3;
}

.button:nth-last-child(1) {
  grid-area: 5/3/6/5;
}

.footer {
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}

@media (min-width: 576px) {
  .button {
    border-radius: 1rem;
  }
}/*# sourceMappingURL=style.css.map */