/* IMPORTS - VARIABLES */
@import './abstracts/colors';

/* SITE */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	padding: 1rem 2.5rem 2rem;
	background-color: $main-background;
}

a {
	color: $text-white;
}

body,
button,
h1 {
	font-family: 'League Spartan', sans-serif;
	font-size: 3.2rem;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

h1 {
	position: relative;
	top: 1.5rem;
	color: $text-white;
}

fieldset {
	position: relative;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 7rem;
	height: 100%;
	width: 7rem;
	color: $text-white;
	border: none;

	legend {
		position: relative;
		left: -6.5rem;
		top: 4rem;
	}
}

input {
	height: 1.8rem;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.wrapper {
	max-width: 54rem;
	margin: 0 auto;
}

.label-container,
.input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	padding: 0rem 0.4rem;
	cursor: pointer;
}

.label-container {
	margin-bottom: 0.3rem;
}

.input-container {
	position: absolute;
	top: 50%;
	opacity: 0;
}

.theme-switcher {
	height: 2.8rem;
	width: 7rem;
	padding: 0.5rem;
	border-radius: 100vw;
	background-color: $toggle-keypad-background;
}

.knob {
	display: block;
	height: 1.8rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: $toggle-key-background;
}

.screen {
	font-size: clamp(3.8rem, 10vw, 5.2rem);
	padding: clamp(2rem, 5vw, 3rem);
	margin: 3.5rem 0 2.5rem;
	border-radius: 1rem;
	background-color: $screen-background;

	&__result {
		color: $text-white;
		text-align: right;
	}
}

.controls {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: clamp(14px, 3vw, 25px);
	grid-row-gap: clamp(17px, 3vw, 28px);
	padding: clamp(2.5rem, 5vw, 3.3rem);
	border-radius: 1rem;
	background-color: $toggle-keypad-background;
}

.button {
	font-size: clamp(2rem, 7vw, 3rem);
	text-transform: uppercase;
	line-height: 6.5rem;
	height: 6rem;
	border-radius: 0.5rem;
	border: none;
	color: $text-white;
	cursor: pointer;
	transition: filter 0.2s;

	&:hover {
		filter: brightness(1.3);
	}

	&--number {
		font-size: clamp(3.2rem, 7vw, 4.2rem);
		background-color: $key-background3;
		box-shadow: 0px 5px 0px 0px $key-shadow3;
		color: $text-blue;

		&:active {
			translate: 0 2px;
			box-shadow: 0px 3px 0px 0px $key-shadow3;
		}
	}

	&--options {
		background-color: $key-background;
		box-shadow: 0px 5px 0px 0px $key-shadow;

		&:active {
			translate: 0 2px;
			box-shadow: 0px 3px 0px 0px $key-shadow;
		}
	}

	&--result {
		background-color: $toggle-key-background;
		box-shadow: 0px 5px 0px 0px $key-shadow2;

		&:active {
			translate: 0 2px;
			box-shadow: 0px 3px 0px 0px $key-shadow2;
		}
	}
}

.button:nth-last-child(3) {
	text-transform: none;
}

.button:nth-last-child(2) {
	grid-area: 5 / 1 / 6 / 3;
}

.button:nth-last-child(1) {
	grid-area: 5 / 3 / 6 / 5;
}

.footer {
	font-size: 1.2rem;
	position: relative;
	top: 1rem;
	color: $text-white;
	text-align: center;
}

@media (min-width: 576px) {
	.button {
		border-radius: 1rem;
	}
}
